:root {
	--bg-color: #FFFFFF;
	--bl-color: #f2f1ee;
	--bn-color: #f8b410;

	--fc-body: #fff;
	--fc-midle: #f8b410;
}
img {
	width: 100%;
	height: auto;
}
html {
	height: 100%;
}
body {
	height: 100%;
	display: grid;
	grid-template-rows: max-content auto max-content;
	background-color: var(--bg-color);
}
body::-webkit-scrollbar {width: 6px;}
body::-webkit-scrollbar-track {background: #202428;}
body::-webkit-scrollbar-thumb {background: #FFCF40;}

/* header */

header {
	z-index: 2;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
}
.header_links {
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: #000;
	align-items: center;
}

.header_link {
	height: 100%;
	padding: 5px 15px;
	display: flex;
	color: var(--fc-midle);
	font: bold 1.5em sans-serif;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: background-color .2s;
} .header_link:hover {
	background-color: #202428;
} .active {
	background-color: #202428;
}

/* -main- */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	height: fit-content;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	background-color: #202428;
}
footer > h2 {
	color: var(--fc-body);
	font: normal .9em sans-serif;
}