:root {
	--bg-color: #FFFFFF;
	--hd-color: #202428;
	--bl-color: #f2f1ee;
	--bn-color: #f8b410;
	--url-color: #318ce7;

	--fc-body: #fff;
	--fc-midle: #f8b410;
}
img {
	width: 100%;
	height: auto;
}
html {
	height: 100%;
}
body {
	height: 100%;
	display: grid;
	grid-template-rows: max-content auto max-content;
	background-color: var(--bg-color);
}
body::-webkit-scrollbar {width: 6px;}
body::-webkit-scrollbar-track {background: var(--fc-body)}
body::-webkit-scrollbar-thumb {background: var(--hd-color)}

/* header */

header {
	z-index: 2;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
}
.header_links {
	width: 100%;
	display: grid;
	grid-template-columns: max-content max-content max-content auto max-content;
	background-color: #000;
}

.header_link {
	height: 100%;
	padding: 5px 15px;
	display: flex;
	color: var(--fc-midle);
	font: bold 1.5em sans-serif;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: background-color .2s;
} .header_link:hover {
	background-color: #202428;
} .active {
	background-color: #202428;
}

.change_lang {
	user-select: none;
	position: relative;
	width: 35px;
	background-color: var(--hd-color);
}
.change_lang > p, .custom_select > button {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.change_lang_select {
	display: none;
}
.custom_select {
	z-index: 2;
	position: absolute;
	right: 0;
	width: 100%;
	display: none;
	flex-direction: column;
} .custom_select > button {
	border: none;
	border-radius: 0;
	background-color: var(--bn-color);
}
.custom_select > button, .change_lang {
	color: var(--fc-body);
	font: bold 1.3em sans-serif;
}
.change_lang:hover .custom_select {
	display: flex;
}


/* -main- */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	height: fit-content;
	padding: 20px 25px;
	display: flex;
	flex-direction: column;
	background-color: #202428;
}
footer > h2 {
	color: var(--fc-body);
	font: normal .9em sans-serif;
}

@media screen and (max-width: 720px) {
	.header_link {
		font: bold 1.3em sans-serif;
	}
}