.portfolio {
	padding: 5px 10px;
	font-size: 18pt;
	color: var(--fc-midle);
	align-self: self-start;
}


.projects {
	padding: 15px;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 15px;
}
.project {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	max-width: fit-content;
	outline-color: transparent;
	border-radius: 10px;
	background: var(--bl-color);
	text-decoration: none;
	color: var(--bn-color);
	align-items: center;
	justify-content: space-between;
	transition: .2s ease outline-color;
} .project:hover {
	outline: solid 2px var(--bn-color);
}
.project > img {
	width: auto;
	height: 145px;
}
.project > p {
	max-width: 260px;
}

@media screen and (max-width: 720px) {
	.project > img {
		width: auto;
		height: 75px;
	}
	.project > p {
		max-width: 160px;
		font-size: .9em;
		word-break: break-word;
	}
	
}